body {
	font-weight: 15px;
	margin: 0 auto;
}

.personal-info-highlights {
	display: flex;
	justify-content: start;
}

.avatar {
	width: 175px;
	height: 200px;
}

.page-header {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-bottom: 0.5rem;
	padding-left: 0.5rem;
	border-radius: 10px;
}

.vote-container {
	display: flex;
	justify-content: space-evenly;
}

#answer-form {
	display: none;
}

.question-container,
#answer-form,
.answer-container {
	border: 1px solid black;
	padding: 1rem;
	margin: 1rem;
	background-color: lightblue;
	border-radius: 20px;
}

.navbar-list {
	display: flex;
	justify-content: space-evenly;
}

.navbar {
	background-color: #65b5f1;
	border-radius: 10px;
}

.answer-container {
	margin: 1rem;
	display: flex;
	justify-content: left;
}

.pose-question-header {
	padding: 1rem;
}

button {
	margin: 10px;
}
/* HOME PAGE ADJUSTMENTS */

.browse {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 1000px;
	margin: 0 auto;
}

.here-you-are {
	margin-top: 1rem;
	margin-left: 3rem;
}

.question-box {
	margin: 2rem;
	background-color: #e9e9e9;
	box-shadow: 8px 14px 8px #d3dadf;
	width: 100%;
	border-radius: 10px;
}

a .question-box:hover {
	transform: scale(1.2);
}

.question-favorite {
	text-decoration: none;
}

.question-favorite:link {
	text-decoration: none;
}

.question-favorite:hover {
	transform: scale(1.2);
	cursor: pointer;
}

.question {
	text-transform: capitalize;
	border-bottom: 1px solid grey;
	padding: 0;
	margin: 1rem 2rem 0.5rem 2rem;
}

.question-info-container {
	display: flex;
	justify-content: space-around;
}
