{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}AnswerQuest{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.shoelace.style/1.0.0-beta24/shoelace.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
  <div class="container">
    <div class="page-header bg-primary">
      <h1><a class="text-light" href="/">AnswerQuest</a></h1>
    </div>

      <div class="navbar">
        <ul class="navbar-list">
          <a href="{% url 'home' %}">Home</a>
          <a>Hot</a>
          <a>Solved</a>
          <a>Unsolved</a>
          <a>Newest</a>
          <a>Most popular</a>
          <a>Surprise Me</a>
          <a href="{% url 'pose_question' %}">Ask</a>
          <a href="{% url 'question_list' %}">Questions</a>
          <a href="{% url 'auth_login' %}">Sign In</a>
          <a href="{% url 'auth_logout' %}">Logout</a>
        </ul>

      </div>
      <div class="upperleft">
        <div>
          <!-- Adjust to be crumbs  -->
          {%if user.is_authenticated%}
            {% if user.avatar %}
            <figure>
              <img src="{{ user.avatar.url }}" alt ="{{ user.name }}">
            </figure>
            {% else %}
            <figure>
              <img src="{%static 'img/placeholder.jpg' %}" alt ="Set an avatar image! ">
            </figure>
            <div>
              <p>Set an avatar image!</p>
            </div>
            {% endif %}
            Welcome <a href="{% url 'profile' %}">{{ user }}</a>!  If you are not {{ user }}, please <a href="{% url 'auth_logout' %}">logout</a>.
            Avatar/profile/stats</a>
          </div>
          {% else %}
            <div>
              <figure>
                <img src="{%static 'img/placeholder.jpg' %}" alt ="Set an avatar image! ">
              </figure>
              <a href="{% url 'auth_login' %}">Sign in</a> | <a href="{% url 'registration_register' %}">Register</a>
            </div>
          {% endif %}
      </div>
      
      <div class="upper_right">
        <div>
          AnswerQuest Leaderboard
        </div>
    {% block content %}
    {%endblock %}
  </div>
  
</body>
</html>