{% extends "AnswerQuest/base.html" %}

{% load markdownify %}

{% block content %}

  {% if questions.count %}

  <!-- <h3 class="here-you-are">Here are your questions, {{ request.user}}!</h3> -->
  <div class="browse">
    
    {% for question in questions.all %}

    <div class="question-container-home">

      <div class="question-text-container-home">

          <div class="question-title-container-home">

              <div class="question-head-top-home">

                <div class="question-head-top-left-home">
                  
                  <p class="q-logo-home">Q</p>
                  <a href="{% url 'question' pk=question.pk %}">
                  <p class="question-title-home">: {{ question.title }}</p>
                  </a>

                </div>

                <div class="question-head-top-right-home">

                  <a data-questionpk="{{ question.pk }}" data-type="question"
                  class="question-favorite">{% if question in request.user.starred_questions.all %}&#9733{% else %}&#9734{% endif %}</a>

                </div>

              </div>

              <div class="question-head-bottom-home">
                  <a class="question-author" href="{% url 'profile' %}">{{ question.author }}</a>
              </div>

          </div>

        </div>

    </div>
  {% endfor %}
  </div>
  {% else %}
  <h3>You have no questions yet. Would you like to <a href="{% url 'pose_question' %}">ask</a> one</h3>
  {% endif %}

  <script>
  
  
  </script>

{% endblock %}