{% extends "AnswerQuest/base.html" %}

{% block content %}

  <div>
  <form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  
  {{ form }}
  
    <button class="button" type='submit'>Update profile</button>
  </div>
  </form>
  <!-- <div>
    Avatar
  </div>
  <div>
    Name
  </div>
  <div>
    Password
  </div>
  <div>
    Email 
  </div> -->
  <div>
    Questions
    {{ user.quests.all }}
  </div>
    Starred Questions
    {{ user.starred_questions.all }}
  <div>
    Answers
    {{ user.responses.all }}
  </div>
  <div>
    Starred Answers
    {{ user.starred_answers.all }}
  </div>


{% endblock %}