{% extends 'AnswerQuest/base.html' %}

{% block content %}
    <div class="question-container">
        <div class="question-text-container">

            {% if question.is_solved %}SOLVED{% endif %}
            {% if request.user == author %}
                <a href="">Edit Question</a>
                <button>Delete</button>
            {% endif %}
            <button>Favorite</button>
            <p class="question-title">{{ question.title }}</p>
            <p class="question-body">{{ question.body }}</p>
            <a class="question-author">{{ question.author }}</a>
        </div>
        <button id="add-answer">Add Answer</button>
        <form id="answer-form" action="" method="POST">
            {% csrf_token %}
            <input type="text">
            <button type="submit">Submit</button>
        </form>
        {% if question.answers.count %}
            {% for answer in question.answers.all %}
            
            <div class="answer-container">
                <button>Favorite</button>
                {% if request.user == question.author %}
                <button>Correct Answer?</button>
                {% endif %}
                <div class="answer-text-container">
                    <p>{{ answer.body }}</p>
                    <a>{{ answer.author }}</a>
                </div>
                <div class="vote-container">
                    <p class="upvote">Upvote {{answer.upvotes}}</p>
                    <!-- This will be where the Upvote icon goes -->
                    <p class="downvote">Downvote {{answer.downvotes}}</p>
                    <!-- This will be where the Downvote icon goes -->
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="answer-container">
            <h2>There are no answers for this question</h2>
        </div>
        {% endif %}

            <script>
            add_answer = document.querySelector('#add-answer')
            add_answer.addEventListener('click', event => {
                event.preventDefault()
                add_answer.style.display = 'none';
                document.getElementById('answer-form').style.display = 'block';
            })
            </script>
    </div>
{% endblock %}