{% extends 'AnswerQuest/base.html' %}

{% load markdownify %}

{% block content %}

<div class="question-container">

    <div class="question-text-container">

        <div class="question-title-container">

            <div class="question-head-left">
                
                <p class="q-logo">Q</p>
                <p class="question-title">: {{ question.title }}</p>

                <a data-questionpk="{{ question.pk }}" data-type="question"
                class="question-favorite">{% if question in request.user.starred_questions.all %}&#9733{% else %}&#9734{% endif %}</a>
            </div>
            <div class="question-head-right">
                <a class="question-author" href="{% url 'profile' %}">{{ question.author }}</a>
            </div>
        </div>

        <div class="question-body-container">
            <p class="question-body">{{ question.body|markdownify }}</p>
        </div>

        {% if request.user == question.author %}
        
        <div class="author-options">

            <form action="{% url 'delete_question' pk=question.pk %}" method="POST">
                {% csrf_token %}
            <button type="submit" data-questionpk="{{ question.pk }}" class="delete_question">Delete</button>
            </form>
        </div>
        {% endif %}
        
        <!-- Add author profile link. Something we didn't discuss but seems good to have. Probably easy to implement as we are creating user accounts so might as well have -->
        
    </div>


    <!-- Form for creating an Answer for our Question -->
    
    <button id="add-answer">Add Answer</button>

    <form id="answer-form" action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button data-questionpk="{{question.pk}}" type="submit" id="submit-answer-button">Submit</button>
    </form>
    <!-- Creation of our Answers for our Question -->
    <div class="answers">
    {% if question.answers.count %}

        {% if question.is_solved %}

            {% for answer in question.answers.all %}

                {% if answer.is_correct %}

                    <div class="answer-container">
                            <!-- <button data-answer-pk="{{ answer.pk }}" class="answer-favorite">Favorite</button> -->

                        <p class="marked-correct">Correct!</p>

                        <div class="answer-interior">

                            <div class="answer-top-row">
                                <p>{{ answer.body }}</p>
    
                                <a data-answerpk="{{ answer.pk }}" data-type="answer"
                                    class="answer-favorite">{% if answer in request.user.starred_answers.all %}&#9733{% else %}&#9734{% endif %}</a>
                            </div>
    
                            <div class="answer-bottom-row">
                                <a class="answer-author" href="{% url 'profile' %}">{{ answer.author }}</a>
                            </div>
    
                        </div>

                        <div class="vote-container">
                            <!-- <p class="upvote">Upvote {{answer.upvotes}}</p> -->
                            <!-- This will be where the Upvote icon goes -->
                            <!-- <p class="downvote">Downvote {{answer.downvotes}}</p> -->
                            <!-- This will be where the Downvote icon goes -->
                        </div>
                    </div>

                {% else %}

                    <div class="answer-container">
                            <!-- <button data-answer-pk="{{ answer.pk }}" class="answer-favorite">Favorite</button> -->

                        <div class="answer-interior">

                            <div class="answer-top-row">
                                <p>{{ answer.body }}</p>
    
                                <a data-answerpk="{{ answer.pk }}" data-type="answer"
                                    class="answer-favorite">{% if answer in request.user.starred_answers.all %}&#9733{% else %}&#9734{% endif %}</a>
                            </div>
    
                            <div class="answer-bottom-row">
                                <a class="answer-author" href="{% url 'profile' %}">{{ answer.author }}</a>
                            </div>

                        </div>

                        <div class="vote-container">
                            <!-- <p class="upvote">Upvote {{answer.upvotes}}</p> -->
                            <!-- This will be where the Upvote icon goes -->
                            <!-- <p class="downvote">Downvote {{answer.downvotes}}</p> -->
                            <!-- This will be where the Downvote icon goes -->
                        </div>
                    </div>

                {% endif %}

            {% endfor %}
        
        {% else %}
        
            {% for answer in question.answers.all %}
                
            <div class="answer-container">
                    <!-- <button data-answer-pk="{{ answer.pk }}" class="answer-favorite">Favorite</button> -->
                    {% if request.user == question.author %}
                        
                        <button data-answerpk="{{ answer.pk }}" data-type="answer" class="correct-answer">Correct Answer?</button>

                        <p class="first-correct-mark">Correct Answer!</p>
                        
                    {% endif %}

                    {% if answer.is_correct == True %}
                        <p class="first-correct-mark">Correct Answer!</p>
                    {% endif %}
                        
                    <div class="answer-interior">

                        <div class="answer-top-row">
                            <p>{{ answer.body }}</p>

                            <a data-answerpk="{{ answer.pk }}" data-type="answer"
                                class="answer-favorite">{% if answer in request.user.starred_answers.all %}&#9733{% else %}&#9734{% endif %}</a>
                        </div>

                        <div class="answer-bottom-row">
                            <a class="answer-author" href="{% url 'profile' %}">{{ answer.author }}</a>
                        </div>

                    </div>

                        <div class="vote-container">
                            <!-- <p class="upvote">Upvote {{answer.upvotes}}</p> -->
                            <!-- This will be where the Upvote icon goes -->
                            <!-- <p class="downvote">Downvote {{answer.downvotes}}</p> -->
                            <!-- This will be where the Downvote icon goes -->
                        </div>

                </div>

            {% endfor %}

        {% endif %}

    {% else %}

            <div class="answer-container">
                <h2>There are no answers for this question</h2>
            </div>
            
    {% endif %}
    </div>
    
    <!-- Something I noticed is that we need to add the ability to see multiple answers to the same question. 
             Currently only displaying one 
            This impeded me from being able to do the answer form for the page but I think I know how to do it  -->
</div>
<script>
    answer_box = documnet.querySelector('#answer_box')
    submit_answer = document.querySelector('#submit-answer-button')
    submit_answer.addEventListener('click', event => {
        fetch(`/AnswerQuest/question/${submit_answer.dataset.questionpk}/add_answer/`, {
            method: 'POST',
            body: answer_box.value, 
        })
        tempLit = ``
        tempLit += `
        <div class="answer-container">
            <div class="answer-interior">
                <div class="answer-top-row">
                    <p>${ answer.body }</p>
                    <a data-answerpk="${ answer.pk }" data-type="answer"
                        class="answer-favorite">{% if answer in request.user.starred_answers.all %}&#9733{% else %}&#9734{% endif %}</a>
                </div>
                <div class="answer-bottom-row">
                    <a class="answer-author" href="{% url 'profile' %}">{{ answer.author }}</a>
                </div>
            </div>
        </div>
        `
    })
</script>
{% endblock %}